<div id="header">
  <div class="info">
    <%= render :partial => "shared/site_panel"%>
    <% if current_user %>
      <h3><%= current_user.name %></h3>
    <% end %>
    <h1><%= Setting.get('site_name')%></h1>
    
    <%- if show_title? -%>
      <h2><%=h yield(:title) %></h2>
    <%- end -%>
  </div>
  
  <%= render :partial => "shared/account_panel"%>
</div>