<div id="main_nav" class="nav">
  <ul class="tabs">
    <li class="tab"><%= link_to 'Overview', '#'%></li>
    
    <li class="tab">
      <%= link_to 'Tickets', '#'%>
      <ul class="sub">
        <li><%= link_to 'This weeks tickets', '#'%></li>
        <li><%= link_to 'My Tickets', '#'%></li>
      </ul>
    </li>
    
    <li><%= link_to 'Messages', '#'%></li>
    
    <li>
      <%= link_to 'Milestones', '#'%>
      <ul class="sub">
        <li><%= link_to 'Sprint 1', '#'%></li>
        <li><%= link_to 'Sprint 2', '#'%></li>
      </ul>
    </li>
    
    <!-- milestones will be listed here -->
  </ul>
</div>