<div id="main_nav">
  <ul class="nav tabs">
    <li class="tab"><%= link_to 'Overview', dashboard_path %></li>
    
    <li class="tab">
      <%= link_to 'Tickets', tickets_url %>
      <ul class="nav sub">
        <li><%= link_to 'This weeks tickets', '#'%></li>
        <li><%= link_to 'My Tickets', '#' %></li>
        <!-- special ticket grouping will be here -->
      </ul>
    </li>
    
    <li><%= link_to 'Messages', '#'%></li>
    
    <li>
      <%= link_to 'Milestones', milestones_url %>
      <ul class="nav sub">
        <li><%= link_to 'Sprint 1', '#'%></li>
        <li><%= link_to 'Sprint 2', '#'%></li>
        <!-- milestones will be listed here -->
      </ul>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>