<% title "Domain" %>

<p>
  <strong>Name:</strong>
  <%=h @domain.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @domain.description %>
</p>
<p>
  <strong>Url:</strong>
  <%=h @domain.url %>
</p>
<p>
  <strong>Active:</strong>
  <%=h @domain.active %>
</p>

<p>
  <%= link_to "Edit", edit_domain_path(@domain) %> |
  <%= link_to "Destroy", @domain, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", domains_path %>
</p>
